body{
  background-image: url("https://static.politico.com/dims4/default/1b234fa/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Ff3%2F1b%2F3fb373c24100b7ef170124e864cb%2Flede-scola-bybenfearnley.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

button {
  width: 200px;
  height: 60px;
  border: 2px solid black;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}
.danger { background: red; }

#box {
  width: 200px;
  height: 100px;
  transition: 500ms;
  grid-column: 2;
  grid-row: 4;
  font-size: 40px;
  color: red;
}
#mybutton {
  grid-column: 2;
  grid-row: 3;
  color: rgb(235, 84, 255);
  background-color: rgb(166, 250, 255);

}
