body{
  /*background-image: url("https://static.politico.com/dims4/default/1b234fa/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Ff3%2F1b%2F3fb373c24100b7ef170124e864cb%2Flede-scola-bybenfearnley.jpg");*/
  background-image: url("http://www.sclance.com/backgrounds/pixel-sky-background/pixel-sky-background_1761138.png");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
#title{
  font-family: fantasy;
  font-size: 150px;
    color: white;
}

#item1{
  font-family: fantasy;
  font-size: 30px;
  grid-column: 1;
  grid-row: 3;
}

#item2{
  font-family: fantasy;
  font-size: 30px;
  grid-column: 3;
  grid-row: 3;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr .5fr 1fr .2fr 1fr;
  justify-items: center;
}

button {
  width: 200px;
  height: 60px;
  border: 2px solid black;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;

}


#box {
  width: 200px;
  height: 100px;
  transition: 500ms;
  grid-column: 2;
  /*grid-row: 4;*/
  font-size: 40px;
  font-family: fantasy;
  color: #ff5050;
  text-align: center;
}
#mybutton {
  grid-column: 2;
  grid-row: 1 / span 2;
  height: 300px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#upgrade1 {
  grid-row: 2;
  grid-column: 1;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#upgrade2 {
  grid-row: 2;
  grid-column: 3;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.grid-item {

}
