<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel = "stylesheet" href = "../Styles/login.css"
    <meta charset="utf-8">
    <title>RoboTap</title>
  </head>
  <body>
    <div id = "title" align = "center"> RoboTap </div>
    <div class="grid-container">
          <img id = "mybutton" src = "../Styles/Robo12.png">
<form method = POST action = "/roboTap">

    <label><b>User Name</b></label>
    <input type = "text" name = "UserName" palceholder = "Enter user name" required>
    </div>
    <script type ="text/javascript" src="../js/login.js"></script>

  </body>
</html>
